*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto Slab', serif;
}

footer {
    text-align: center;
    background-color: #F5F5F5;
    color: rgba(0,0,0,0.7);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    font-size: 1.5em;
}

.menu .profile{
    width: 100vw;
    margin-left: 0.3em;
}

.profile img {
    width: 10vw;
    height: 8vh;
    border-radius: 50%;
    border: 2px solid lightgreen;
    animation: animation-border-colors 60s linear infinite;
}

.menu .texto {
    display: flex;
    margin: 0.5em;
}

.texto  a{
    margin: 0.5em;
    border-bottom: 2px solid black; 
    
}

.texto  a:hover{
    border-bottom: 2px solid white;
    animation: animation-zoom  250ms linear forwards;
}

@keyframes animation-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }

}

.menu .contato {
    display: flex;
    margin: 0.5em;
}

.contato  a{
    margin: 0.3em;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Annie Use Your Telescope', cursive;
}

.menu a:hover {
    text-shadow: 0px 0px 3px darkgray;
}

.dialog {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.5em;
    height: 12vh;
    width: 40vw;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 10px 10px 10px ;
    font-family: 'Bangers', cursive;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1s ease  animation-show forwards;
}

@keyframes animation-show{
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  

.home i {
    font-size: 8em;
    padding-top: 0.5em;
    color:darkolivegreen;
    text-shadow: 0px 0px 10px;
    animation: animation-colors 60s linear infinite;
}

.portfolio {
    padding: 2em;
    margin-top: 10em;
    min-height: 100vh;
    background-color: black;
    color:white;
  }
  
  .portfolio h2 {
    font-family: 'Annie Use Your Telescope', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
  }
  
  .portfolio .grid {
    display: grid;
    gap: 2em;
  }
  
  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }

    .profile img {
        width: 4vw;
    }
  }
  
  .portfolio figure {
    text-align: center;
  }

  .portfolio figure:hover {
    animation: animation-zoom  250ms linear forwards;
  }
  
  .img-portfolio {
    height: 180px;
    width: 240px;
    border: 2px solid darkolivegreen;
    border-radius: 25%;
    animation: animation-border-colors 60s linear infinite;
  }

  @keyframes animation-border-colors {
    0%{
     border: 2px solid lightgreen;
    }
    25%{
     border: 2px solid yellow;
    }
    50%{
     border: 2px solid red;
    }
    75%{
     border: 2px solid orange;
    }
    100%{
     border: 2px solid blue;
    }
 }

 @keyframes animation-colors {
    0%{
     color: darkolivegreen;
    }
    25%{
        color: darkgoldenrod;
    }
    50%{
        color: darkred;
    }
    75%{
        color: darkorange;
    }
    100%{
        color: darkblue;
    }
 }