*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:  linear-gradient(#e66465, #9198e5) no-repeat;
    background-size: auto 100vh;
}

aside {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2em;
    justify-content: center;
    height: 30vh;
    width: 100vw;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: lightgray;
}

footer i {
    font-size: 2em;
    margin: 0.4em;
}

section {
    display: grid;
    overflow: scroll;
    width: 100vw;
    height: 50vh;
    padding: 0.5em;
    grid-row-gap: 0.5em;
}

.dialog {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.5em;
    height: 12vh;
    width: 40vw;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 10px 10px 10px;
}

h2 {
    margin-top: 2.5em;
    margin-left: 0.5em;
    color: black;
    opacity: 0.5;

}

.avatar {
    width: 50.5vw;
    height: 35.5vh;

}


.menu  {
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 4px solid white;
    color: brown;
    font-weight: bold;
    font-size: 1.5em;
    margin:0.5em;
}

.menu a:hover {
    border-bottom: 4px solid #9198e5;
}

.grid-project {
    border: 1px solid lightgray;
    padding: 1em;
    text-align: center;
    background-color: #9198e5;
    font-weight: bold;
    font-size: 1.5em;
    opacity: 0.6;
    height: 10vh;
    box-shadow: 10px 10px 10px;
}


@media(min-width:400px){
    .dialog {
        font-size: 1.1em;
    }
    
    .avatar {
        width: 45vw;
        height:  40.5vh;
    }
}

@media(min-width:700px){
    .dialog {
        font-size: 1.5em;
    }
    
    section {
        display: grid;
        overflow: hidden;
        grid-template-columns: auto auto auto;
        width: 100vw;
        height: 30vh;
        padding: 0.5em;
        grid-row-gap: 0.5em;
        grid-column-gap: 1em;
    }

    .grid-project {
        border: 1px solid lightgray;
        padding: 1em;
        text-align: center;
        background-color: #9198e5;
        font-weight: bold;
        font-size: 1.5em;
        opacity: 0.6;
        height: 13vh;
        box-shadow: 10px 10px 10px;
    }

    aside {
        float: left;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2em;
        justify-content: center;
        height: 40vh;
        width: 100vw;
    }
    
}

@media(min-width:900px){ 
    
    .avatar {
        width: 25vw;
        height: 49.5vh;
    }
}
