*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: pink;
    background-size: auto 100vh;
}

header {
    background-color: #e66465;
}

.content {
    display: flex;
    flex-direction: column;
}

.avatar-dialog {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100vw;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: lightgray;
}

footer i {
    font-size: 2em;
    margin: 0.4em;
    color:#7159c1;
}


.portfolio{
    width: 100vw;
    height: 50vh;
}

.portfolio .grid {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 1em 0.5em;
    overflow: scroll;
}

.portfolio .grid-items {
    border: 1px solid lightgray;
    background-color: #9198e5;
    font-weight: bold;
    font-size: 1.5em;
    opacity: 0.6;
    box-shadow: 10px 10px 10px;
    margin:  0 1em;
}

.portfolio h2 {
    margin-left: 1em;
    margin-bottom: 0.3em;
    color: gray;
    height: auto;
    font-family: 'Bangers', cursive;
    
}

.dialog {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.2em;
    height: 12vh;
    width: 40vw;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 10px 10px 10px;
    font-family: 'Bangers', cursive;
}

.avatar {
        width: 45vw;
        height:  29.5vh;
    }


.menu  {
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 4px solid white;
    color: brown;
    font-weight: bold;
    font-size: 1.5em;
    margin:0.5em;
}

.menu a:hover {
    border-bottom: 4px solid #9198e5;
}


@media(min-width:300px){
    .portfolio .grid-items {
        font-size: 1.1em;  
    }
}

@media(min-width:400px){

    .portfolio .grid-items {
        font-size: 1.4em;  
    }

    .dialog {
        font-size: 1.3em;
    }
    
    .avatar {
        width: 45vw;
        height:  37.5vh;
    }


}

@media(min-width:700px){

    .portfolio .grid-items {
        font-size: 1.8em;  
    }

    .dialog {
        font-size: 1.5em;
    }

    .avatar-dialog {
        margin-bottom: 2em;
    }
   
    .portfolio .grid{
        overflow: hidden;
        gap: 3.5em 2em;
        grid-template-columns: repeat(3, auto);
    }

    .portfolio .grid-items {
        padding: 1em;
        height: 15vh;
    }

    .avatar-dialog {
        height: 40vh;
        width: 100vw;
    }

    .avatar {
        width: 25vw;
    }
    
}

@media(min-width:900px){ 

    
    .portfolio .grid-items {
        font-size: 2.3em;  
    }

    .dialog {
        font-size: 2em;
    }
    .avatar {
        width: 25vw;
        height: 42.5vh;
    }
}

